/* Footer.css */
.footer {
  padding: 20px;
  background-color: #1a1a1a; /* Preto mais claro */
  text-align: center;
  color: #ffffff;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.5);
}

.footer p {
  margin: 0;
}
